body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: Arial, sans-serif;
}

#app {
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 12px;
  border: none;
}

table th {
  background-color: lightblue;
  border-right: white 3px solid;
  border-left: white 3px solid;
  padding-inline: 10px;
}

table td, table th {
  text-align: center;
  vertical-align: middle;
}

#task-name {
  text-align: left;
}

table td {
  padding-left: 10px;
  padding-right: 10px;
}

table td button {
  margin-left: 5px;
}

#input-items button {
  margin-left: 8px;
  margin-bottom: 8px;
}

#tasks-actions-buttons {
  display: flex;
  align-items: center;
}

#tasks-actions-buttons button {
  padding: 10px 15px;
  font-size: 14px;
  width: 50%;
}
