body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: Arial, sans-serif;
}

#app {
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table td, table th {
  text-align: center;
  vertical-align: middle;
}

#input-items button {
  margin-left: 8px;
  margin-bottom: 8px;
}
